# MATIAS SALINAS - CONSULTOR CLOUD/DEVOPS
.deploy_cache:
  cache:
    key: build_cache
    paths:
      - ./publish
    policy: pull

.before_deploy_script: &before_deploy_script
  - |
    echo "EJECUTANDO DESPLIEGUE"

.build_deploy_script: &build_deploy_script
  - export DEPLOYS=$(helm ls  -n $NAMESPACE | grep $CI_PROJECT_TITLE | wc -l)
  - |
    [[ -z "$CI_COMMIT_TAG" ]] && export DOCKER_TAG=$CI_COMMIT_SHORT_SHA || export DOCKER_TAG=$CI_COMMIT_TAG
  - >
    if [ $DEPLOYS = 0 ]; then
      echo "INSTALAR"
      echo $DOCKER_TAG
      echo $CI_PROJECT_TITLE
      helm install --set image.tag=$DOCKER_TAG $CI_PROJECT_TITLE ./helm  -f ./helm/${STAGE}-values.yaml -n $NAMESPACE
      echo "helm install --set image.tag=$DOCKER_TAG $CI_PROJECT_TITLE ./helm  -f ./helm/${STAGE}-values.yaml -n $NAMESPACE"
    else
      echo "ACTUALIZAR"
      helm upgrade --install --set image.tag=$DOCKER_TAG --force  $CI_PROJECT_TITLE ./helm  -f ./helm/${STAGE}-values.yaml -n $NAMESPACE
      echo "helm upgrade --install --set image.tag=$DOCKER_TAG --force  $CI_PROJECT_TITLE ./helm  -f ./helm/${STAGE}-values.yaml -n $NAMESPACE"
    fi

.base_deploy_before_script:
  before_script: *before_deploy_script

.base_deploy_script:
  script: *build_deploy_script

.base_deploy_build:
  extends:
    - .deploy_cache
  stage: deploy
  image: alpine/helm:3.1.1
  timeout: 4h 0m
  allow_failure: false

deploy:helm:qa:k8s:
  extends:
    - .base_deploy_build
    - .base_deploy_before_script
    - .base_deploy_script
  needs: ["build:docker:qa"]
  environment:
    name: QA
  only:
    changes:
      - "src/API/**/*"
    refs:
      - branches
    variables:
      - $CI_COMMIT_REF_NAME == "develop"

deploy:helm:prod:k8s:
  extends:
    - .base_deploy_build
    - .base_deploy_before_script
    - .base_deploy_script
  needs: ["build:docker:prod"]
  environment:
    name: Prod
  when: manual
  only:
    changes:
      - "src/API/**/*"
    refs:
      - branches
    variables:
      - $CI_COMMIT_REF_NAME == "master"
      - $CI_COMMIT_REF_NAME == "main"
