# Default values for backend-portal-privado.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: confuturocloud/backend-portal-privado
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

configmap:
  name: backend-portal-privado
  data:
    ASPNETCORE_ENVIRONMENT: "Production"
    AllowedHosts: "*"
    API_BASE_PATH: /backend-portal
    KUBERNETES: "K8"
        
    Serilog__MinimalLevel__Default: Information
    Serilog__MinimalLevel__Override__Microsoft: Information
    Serilog__MinimalLevel__Override__System: Warning
    Serilog__WriteTo__Name: Console
    Serilog__WriteTo__Arg__formatter: Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact
    
    JwtConfig__ValidIssuer: https://localhost:7037
    JwtConfig__ExpirationInMinutes: 1440
    JwtConfig__Portability__ExpirationInMinutes: 1440
    
    Apis__UrlClients: http://api.seguros.local/clientes/
    Apis__UrlProductos: http://api.seguros.local/productos/
    Apis__UrlLocalizacion: http://api.seguros.local/localizacion/
    Apis__DigitalMedia__Url: https://webapps.confuturo.cl/MediosDigitales/
    Apis__UrlCOR: http://api.seguros.local/cor/
    Apis__UrlDOF: http://api.seguros.local/source-funds-statement/
    Apis__UrlEconomicIndicators: http://api.seguros.local/ind-economicos/
    Apis__UrlPensions: https://webapps.confuturo.cl/Certificados_API/
    Apis__UrlTracking: http://api.seguros.local/tracking/
    Apis__CustomerAccountService__Url: http://api.seguros.local/customer-account/
    Apis__Recaptcha__Url: https://www.google.com/recaptcha/api/
    Apis__PGU__Url: http://api.seguros.local/rentas-services/aps/
    Apis__PGU__UrlForm: http://autorizacion-aps.confuturo.cl/potenciales/{taxid}/1
    Apis__MethodPayment__Url: http://api.seguros.local/change-payment-method/
    Apis__FinancialPortability__UrlApi: http://172.20.17.49:95/
    Apis__FinancialPortability__UrlWeb: https://webapps.confuturo.cl/PortabilidadBackOffice_sp3/auth
    Apis__Payment__UrlApi: https://api.confuturo.cl/payment-service/
    Apis__Payment__UrlRedirect: https://pagosweb.confuturo.cl/
    Apis__Payment__UrlRedirectPayment: http://clientescf.confuturo.cl/tools/payment-result
    Apis__Notifications__Url: http://api.seguros.local/notificacion/
    Apis__Notifications__From: confuturo@confuturo.cl
    Apis__Notifications__EmailTest: ""
    Apis__Investment__Url: http://api.seguros.local/investment-services/
    Apis__PensionLiquidation__Url: http://api.seguros.local/pension-settlement/
    Apis__Keycloak__Url: https://auth.confuturo.cl/auth
    Apis__Keycloak__Realm: confuturo-sso
    Apis__Keycloak__User: backend-portal-privado
    Apis__RRHH__Url: http://api.seguros.local/rrhh/v1/staff/
    Apis__PdfServices__Url: https://pdf-service-42nqpimoca-uc.a.run.app/
    
    Apis__Zendesk__Url: https://atencionconfuturo.zendesk.com/
    Apis__Zendesk__testMode: false
    Apis__Zendesk__Email: support@atencionconfuturo.zendesk.com
    Apis__Zendesk__Ticket__Channel: Portal_clientes
    
    Ws__UrlWsError: http://192.168.153.77:56428/ErrorWS.svc
    Ws__UrlWsPensiones: http://webapps.confuturo.cl/ws_Pensiones/wsPensiones.asmx
    Ws__UrlWsCartaSernac: http://webapps.confuturo.cl/ws_CartaSernac/wsCartasSernac.asmx
    Ws__UrlWsVT: http://192.168.153.77:8097/ServicesVT/ServicesVT.svc
    
    Contribution__UfMaxAmount: 2000
    Survey__days: 14
    Survey__months: 4
    Survey__hide: true
    
    PAT__UrlLogo: https://storage.googleapis.com/bkt-cf-sitioprivado-cli/images/logotipo.png
    PAT__Request__From: clientes@confuturo.cl
    PAT__Request__EmailsTest: ""
    PAT__Request__EmailsBcc: respaldo.comunicaciones@confuturo.cl,ccorrea@confuturo.cl

    UrlRedirectExecutiveView: https://clientescf.confuturo.cl/executive-view
        
    Distribution__Request__Subject: Portal Privado – Cambio Modalidad Inversión
    Distribution__Request__From: clientes@confuturo.cl
    Distribution__Request__EmailsTest: ""
    Distribution__Request__EmailsBcc: respaldo.comunicaciones@confuturo.cl,ccorrea@confuturo.cl
    
    Transaction__Request__Subject-APORTE: Comprobante de Aporte en Línea
    Transaction__Request__Subject-PAGO-PRIMA: Comprobante de Pago en Línea
    Transaction__Request__From: confuturo@confuturo.cl
    Transaction__Request__EmailsTest: ""
    Transaction__Request__EmailsBcc: respaldo.comunicaciones@confuturo.cl,ccorrea@confuturo.cl
    
    BankInformation__Request__Subject: Prueba - Confirmación de devolución de primas
    BankInformation__Request__From: clientes@confuturo.cl
    BankInformation__Request__EmailsTest: ""
    BankInformation__Request__EmailsBcc: respaldo.comunicaciones@confuturo.cl,ccorrea@confuturo.cl

    Campaign__Request__Subject: Prueba - Confirmación de Campaña Súper Tasa 2,5%
    Campaign__Request__From: clientes@confuturo.cl
    Campaign__Request__EmailsTest: ""
    Campaign__Request__EmailsBcc: respaldo.comunicaciones@confuturo.cl,ccorrea@confuturo.cl
    

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations:
  vault.hashicorp.com/agent-inject: "true"
  vault.hashicorp.com/agent-inject-secret-data: backend-portal-privado-kv/data/prod
  vault.hashicorp.com/agent-requests-cpu: "50m"
  vault.hashicorp.com/agent-inject-template-data: |
    {{- with secret "backend-portal-privado-kv/data/prod" -}}
    export ConnectionStrings__PortalWebDB="{{ .Data.data.connectionstrings_portalwebdb }}"
    export ConnectionStrings__PATDB="{{ .Data.data.connectionstrings_patdb }}"
    export JwtConfig__Secret="{{ .Data.data.jwtconfig_secret }}"
    export JwtConfig__Portability__Secret="{{ .Data.data.jwtconfig_portability_secret }}"
    export Apis__DigitalMedia__User="{{ .Data.data.digitalmedia_user }}"
    export Apis__DigitalMedia__Password="{{ .Data.data.digitalmedia_password }}"
    export Apis__CustomerAccountService__ApiKey="{{ .Data.data.apis_customeraccountservice_apikey }}"
    export Apis__Recaptcha__Secret="{{ .Data.data.apis_recaptcha_secret }}"
    export Apis__PGU__ApiKey="{{ .Data.data.apis_pgu_apikey }}"
    export Apis__Keycloak__SecretKey="{{ .Data.data.apis_keycloak_secretkey }}"
    export Apis__Zendesk__Token="{{ .Data.data.apis_zendesk_token }}"
    {{- end -}}
  vault.hashicorp.com/role: "prod"

podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations: {}
  # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  hosts:
  - host: backend-portal.confuturo.cl
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: backend-portal.seguros.local
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi


gateways:
  enabled: false

virtualService:
  enabled: false

sidecarIstio:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector:
  env: prod

tolerations: []

affinity: {}
